<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.biobam.blast2go.action.extension">
      <client
            class="com.biobam.b2gapps.psortb.algo.PsortbAction">
      </client>
      <client
            class="com.biobam.b2gapps.psortb.merge.MergePsortbAction">
      </client>
      <client
            class="com.biobam.b2gapps.psortb.merge.MergePsortbWorkflowAction">
      </client>
   </extension>
   <extension
         point="com.biobam.blast2go.api.datatype.definition.extension">
      <client
            class="com.biobam.b2gapps.psortb.data.PsortbObjectCreator">
      </client>
   </extension>
   <extension
         point="com.biobam.blast2go.api.dataviewer.interfaces.controller">
      <client
            class="com.biobam.b2gapps.psortb.viewer.PsortbViewerCreator">
      </client>
   </extension>

</plugin>
